/*Right side of the column*/
.product-detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem 4rem;
    margin:auto;
}

.product-image img {
    width: 80%;
    border: 10px;
}
/*Left side of the column*/
.product-name-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.size-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: -1.5rem;
}

.size-label-highlight {
    text-decoration: underline;
}

.under-category-sizes{
    font-size: 18px;
    font-style: italic;
    color: #666;
}
h1 {
    font-size: 40px;
}

.highlight_price {
    font-weight: bold;
    font-size: 25px;
}

.size-label {
    font-size: 20px;
}

.size-buttons {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}

.product-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    margin: 4rem 9rem;
}

.size, .size-unavailable, .size-availible-selected {
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 19px;
  transition: color 0.2s ease;
}

.size-availible-selected:hover {
background-color:#1a5b7e;
}

.size {
  background-color: var(--main-color);
  color: white;
}

.size-unavailable {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.size-availible-selected {
  background-color: var(--main-color);
  color: white;
  border: 2px solid var(--main-color);
}

.add-to-cart {
  background-color: var(--main-color);
  color: white;
  padding: 1rem 8rem;
  border: none;
  font-weight: bold;
  margin-right: 1rem;
  font-size: 25px;
  text-decoration: none;
}

.add-to-cart:hover {
  background-color: #1a5b7e;
}
.like-icon {
  background-color:var(--main-color);
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: white;
  padding: 0.5rem 2rem;
  transition: color 0.2s ease;
}

button {
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004e70; /* slightly lighter color on hover */
}

p {
    font-size: 20px;
}

h3 {
    font-size: 25px;
}

.product-action {
  display: flex;
  flex-direction: row;   
  gap: 1rem;                
  align-items: flex-start; 
}


.like-icon:hover {
  color: red;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.jacket-information {
  margin-top: 4rem;
}
.accordion {
  margin-top: 6rem;
}

.accordion-item {
    margin-bottom: 1.5rem;
}

.arrow-icon {
    font-size: 1.2rem;
    color:var(--main-color) ;
}

hr {
    border: none;
    border-top: 7px solid var(--main-color);
    margin-top: 0.5rem;
}

